body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    background: linear-gradient(to right, #FFE484, #FF6161);
}

header {
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
}

nav ul li a.active {
    color: #ff0000;
}

.skills {
    text-align: center;
    padding: 0px 32px 0px 32px;
    margin-bottom: -33px;
    height: 477px;
    width: auto;
}

.skills h1 {
    font-size: 2.5rem;
}

.skills h2 {
    font-size: 1.5rem;
}

.skills-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    height: 100px;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.skill-item {
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 10px;
    height: 125px;
    width: 300px;
    text-align: center;
    margin: 1rem;
}

.skill-item:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.skill-item i {
    font-size: 1.5rem;
    color: #ff0000;
    margin-bottom: 0rem;
}

.skill-item h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.skill-item p {
    font-size: 1rem;
    line-height: 1.5;
}

footer {
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: auto;
    font-size: 1rem;
}



/* Mobile styles */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .skills h1 {
        font-size: 2rem;
    }

    .skills h2 {
        font-size: 1.2rem;
    }

    .skills-grid {
        flex-direction: column;
    }

    .skill-item {
        width: 80%;
        height: auto;
        padding: 1.5rem;
    }

    .skill-item i {
        font-size: 2rem;
    }
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) {
    .skills{
        height: 1330px;
    }

    .skills h1 {
        font-size: 2.2rem;
    }

    .skills h2 {
        font-size: 1.3rem;
    }

    .skills-grid {
        justify-content: center;
    }

    .skill-item {
        width: 45%;
        height: auto;
        padding: 1.5rem;
    }

    .skill-item i {
        font-size: 1.8rem;
    }
}